.header{
    text-align: right;
    background-color: white;
    grid-column-start: 2;
    grid-row: 1 / span 1;
}

.header h1, h3 {
    margin-right: 3%;
}

.content{
    background-color: #F1F1F1;
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 50px
}

.logout{
    cursor: pointer;
    margin-right: 3%;

}

.welcome{
    font-size: 120px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-top: 250px;
    color: darkred;
    outline: none;
    text-align: center;
}

.welcome:hover{
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
}

.contentform{
    margin-left:10px;
    margin-right:10px;
    display:contents;
}

.contentform input{
    width: 25%;
    display:inline;
    padding-top:1px
}

.content form button{
    margin-left: 5px;
    margin-top: 0px;
    display: inline;
    width: 10%;
}

.button-users{
    margin:0px;
    width:15%;
    float:right;
    margin-right:10px;
}

.contform{
    padding-top:10px;
    padding-left:10px;
}

.usersTable{
    overflow-x:auto;
    margin-top:70px;
    margin-left: 50px;
}

.usersTable table{
    width:90%;
    margin:auto;
}

td{
    width:30%
}

td button{
    float:right;
}

th{
    height: 70%;
    font-size: 30px;
    background-color: #D9DADE;
}

th, td {
    border-bottom: 1px solid #0c0c0c;
}

td {
    height: 40px;
    vertical-align: middle;
}