@import "./screens/landingPage/login.css";
@import "./components/navbar/navbar.css";
@import "./components/header/header.css";

button{
  cursor: pointer;
}

#root{
  display: grid;
  grid-template-columns: 20px 1fr;
  height: 100%;
}

