@import "./screens/landingPage/login.css";
@import "./components/main/main.css";
@import "./components/navbar/navbar.css";

button{
  cursor: pointer;
}

.layout{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 0.1fr 1fr;
}
