.login-background {
  background: linear-gradient(139.1deg, #15243F 23.21%, #39A4C9 84.78%);
  height: 100vh;
}

.login-box{
text-align: center;
position:relative;

width: 50%;
margin:auto;
height: 63%;
top:20%;

background: #FFFFFF;
border-radius: 32px;

}

form{
    width:50%;
    margin:auto;
    margin-top: none;
}

input, label {
    display:flex;
    text-align: left;
}

input{
    width: 52%;
}

label{
    padding-top: 5%;
}

.mb-3{
    text-align: left;
}

.fade{
    opacity:1 !important;
}

.logo-img-login {
    width: 30%;
    margin-top: 20px;
}
